<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="vertical-menu">
          <a routerLink="giftorder" >Place Gift Card Order</a>
          <a routerLink="main">View Gift Card Orders</a>
          <a routerLink="contact">Contact Us</a>
          <a routerLink="aboutus">About Us</a>
            
          </div>
          
      </div>
      <div class="col-sm-10 ">



        <h1>
            ABOUT US
            </h1>

        <div class="container_Line">

            <marquee>A GiftWorld To Explore Yourselves...</marquee>
        </div>
        
          <br><br>
     <div class="le_mar">
         <p>Happiness is when you surprise your loved ones with a lovely present</p>
         <p>There's nothing better than a wide-eyed smile on the face of your loved ones when you
                                                              give them unexpected gifts.</p>
          <p>We help you give your near and dear ones something that goes with their personality</p>
          <p> Hence, with our aim to get you the best presents from across the world</p>
          <p>we at giftcard.in have embarked on a journey to make gifting a hassle-free experience.</p>

   </div>
    </div>
  </div>


</div>


