.col-sm-2 {
    padding: 0px;
    margin: 0px;
    height: 800px;
    background-color: rgb(245, 176, 176);
}

.col-sm-10{
    padding: 0px;
    margin: 0px;
}

.vertical-menu {
    width: auto;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    /* font-style: italic; */
  }
  
  .vertical-menu a {
    background-color: rgb(245, 176, 176);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: rgb(250, 127, 127);
  }

  .form-group{
   
    margin: 30px 0;
  }

  .form-group .btn .btn-primary {
    
    min-width: 150px;
    background: #299be4;
    border: none;
    
    }
    .form-group .btn.btn-primary:hover {
    background: #1c8cd7;
    }

    .hint-text {
        text-align: center;
        font-size: 15px;
        opacity: 0.8;
        }

    