<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <div class="vertical-menu">
            <a routerLink="giftorder" >Place Gift Card Order</a>
            <a routerLink="main">View Gift Card Orders</a>
            <a routerLink="contact">Contact Us</a>
            <a routerLink="aboutus">About Us</a>
            
          </div>
          
      </div>
      <div class="col-sm-10 ">
        <div class="giftsbody">
            <div class="main">
                <section>
                    <div class="introduction">
                        <h2>Order your gifts from Heaven</h2>
                    </div>
                </section>
                <section>
                    <div class="gallery">
                        <a target="_blank" href="#">
                            <img src="assets/img/gift3.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc">Gifts for your loved ones</div>
                    </div>
    
                    <div class="gallery">
                        <a target="_blank" href="#">
                            <img src="assets/img/gift2.jpg" width="600" height="400">
                        </a>
                        <div class="desc">A gift to cherish forever</div>
                    </div>
    
                    <div class="gallery">
                        <a target="_blank" href="#">
                            <img src="assets/img/gift.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="desc">A gift to express</div>
                    </div>
    
                    <div class="gallery">
                        <a target="_blank" href="#">
                            <img src="assets/img/birthday.png" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc">Born Day gifts</div>
                    </div>
                </section>
                <section class="submitbutton">
                    <button class="submit"> Place Order
                    </button>
                </section>
            </div>
      </div>
    </div>
  </div>

