.giftsheader__logowrapper {
    display: flex;
    height: 100px
}

.giftsheader {
    height: 100px;
}

.giftsheader__logowrapper .logo {
    width: 40%;
}

.giftsheader__logowrapper .logo img {
    height: 100%
}
.company h1 {
    font-size: 55px;
    font-weight: 900
}